<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotNetRDF" version="2.1.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.8.8" targetFramework="net461" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.6.1" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="PushSharp" version="4.0.10" targetFramework="net461" />
  <package id="Stanford.NLP.CoreNLP" version="3.9.1.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="VDS.Common" version="1.10.0" targetFramework="net461" />
</packages>