canvas {
opacity:0.5;
}

#myChart {
    opacity:1;
}span, p, h1, h2, h3, h4, h5, h6, a, label {
    font-family: Roboto !important;
}


.bg {
    background-image: url(https://i0.wp.com/www.mustsee.is/wp-content/uploads/2017/08/3fe793dc-90eb-4248-ae7f-fa27f8a30f41.jpg?fit=837%2C1024&ssl=1) !important;
    background-position: bottom;
    background-size: cover;
}

.decoration{
    background-color:none;
}
/* https://i0.wp.com/www.mustsee.is/wp-content/uploads/2017/08/3fe793dc-90eb-4248-ae7f-fa27f8a30f41.jpg?fit=837%2C1024&ssl=1 */
/* https://img.purch.com/w/660/aHR0cDovL3d3dy5zcGFjZS5jb20vaW1hZ2VzL2kvMDAwLzA0NS85ODMvb3JpZ2luYWwvYXJjdHVydXMtbGFrZS1oYXJ0LmpwZw== */
.meRank {
    background: #e0ecff !important;
}

.sidebar-menu {
    margin-top: 10px;
}

.firstRow {
    background: white;
}

    .firstRow th {
        color: black !important;
        border-bottom: 1px solid gray !important;
    }

table, th {
    border: none !important;
}

td {
    color: black !important;
    border: none !important;
    border-bottom: 1px solid gray !important;
    font-weight: 500 !important;
    background-color: white !important;
    padding: 2% 0 !important;
}

th {
    font-weight: 600 !important;
    background: none !important;
    height: 30px;
}

td img {
    max-width: 25px;
    margin: auto;
}

.top3 {
    width: 50%;
    margin: auto;
    border-radius: 6px;
}

.dialogSmiley {
    width: 100px;
    margin: 0 auto;
}

.ui-draggable .ui-dialog-titlebar {
    border: none;
    background: none;
    text-align: center;
}

.ui-dialog .ui-dialog-title {
    float: none !important;
}

.ui-widget.ui-widget-content, .ui-dialog .ui-dialog-content {
    border-radius: 25px;
    height: 200px !important;
}

.topHeader {
    text-align: center;
    margin: 3% 0%;
    font-size: 30px;
    font-family: 'Bigshot One', cursive !important;
}

.profileMenu {
    background: #2980b9 !important;
    padding: 2% !important;
    border-radius: 15px !important;
    margin-bottom: 7% !important;
}

    .profileMenu h4 {
        text-align: center !important;
        color: white !important;
    }



.categoryActive {
    transition: background-color 1000ms;
    background: rgba(41,128,185,0.5);
    box-shadow: 0 3px 10px 1px rgba(0,0,0,.48);
}

.categoryNotActive {
    transition: background-color 1000ms;
    background-color: none;
}

.category {
    width: 30%;
    display: inline-block;
    height: 16%;
    color: white;
    font-size: 16px;
    border-radius: 15px;
    margin: 1%;
    padding: 1%;
    text-shadow: 2px 2px rgba(0,0,0,.48);
}

    .category i {
        font-size: 40px;
        text-shadow: 2px 2px rgba(0,0,0,.48);
    }

#categoryContainer {
    width: 100%;
    height: 100%;
    text-align: center;
    top: -20px;
}

#scorePH, #readingsPH {
    text-align: center;
}

div.content {
    margin-top: 0 !important;
    border-radius: 15px;
}

#myChart {
    margin-bottom: 5%;
}

p {
    font-size: 16px !important;
}

#answers {
    max-height: 50px;
}

    #answers i {
        position: relative;
        top: -60px;
        left: 120px;
    }

    #answers label {
        text-align: center;
        color: white;
        border-radius: 20px;
        width: 80%;
        margin: 7% auto;
        padding: 2%;
        font-size: 16px;
        font-weight: 500;
        background: rgba(41,128,185,0.5);
        text-shadow: 2px 2px rgba(0,0,0,.48);
        box-shadow: 0 3px 10px 1px rgba(0,0,0,.48);
    }

#answers {
    text-align: center;
    margin-top: 10%;
}

#question {
    text-align: center;
    padding: 7.5%;
    margin-top: 60px;
    padding-bottom: 0;
    color: white;
    text-shadow: 2px 2px rgba(0,0,0,.48);
}

#questionDiv {
    background-color: white;
    height: 100%;
    z-index: 999;
    display: none;
    overflow: scroll;
}

/*menu*/

.sidebar-menu a i:first-child {
    background-color: #2980b9 !important;
}


/* maps*/
#pac-input {
    background-color: #fff !important;
    font-family: Roboto !important;
    font-size: 15px !important;
    font-weight: 300 !important;
    /* margin-left: 12px; */
    padding: 5px 11px 5px 13px !important;
    text-overflow: ellipsis !important;
    width: 44% !important;
    position: absolute !important;
    z-index: 999 !important;
    left: 40% !important;
    top: 2% !important;
}

.gm-style-iw img {
    margin: 0 auto
}

.gm-style-iw {
    text-align: center;
}

#newLocationBTN {
    /*right: calc(50vw - (56px/2));*/
    left: calc(55vw);
    bottom: 2%;
    position: fixed;
    z-index: 999;
    max-width: 60px;
}

#myLocationBTN {
    right: calc(55vw);
    bottom: 2%;
    position: fixed;
    z-index: 999;
    max-width: 60px;
}

.infoWindowPic {
    max-height: 100px;
}

#map {
    height: calc(100vh - 60px);
}


/*Splash screen*/
#splashLogo {
    margin: auto;
    margin-top: 60%;
    height: 60px;
}




/*Loading*/

.loaderNew {
    position: relative;
    transform-style: preserve-3d;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    transform: scale(0.5, 0.5) !important;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #2980b9;
    width: 80px !important;
    height: 80px !important;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}

#animationTitle {
    position: relative;
    float: left;
    color: white;
    text-shadow: 2px 2px rgba(0,0,0,.48);
}

#titleDiv {
    text-align: center;
    position: absolute;
    top: 65%;
    width: 100%;
    height: 5%;
    padding: 0% 10%;
}


#loadingTitle {
    position: relative;
    float: left;
    color: white;
    text-shadow: 2px 2px rgba(0,0,0,.48);
}

#loading {
    background-color: white;
    height: 100%;
    display: none;
}

#loading2 {
    background-color: white;
    height: 100%;
    display: none;
}





/*pref2 styles*/

#forwardBTN1 i, #forwardBTN2 i, #forwardBTN1a i {
    background-color: #2980b9;
    font-size: 30px;
}

#prefHeader {
    color: white;
    text-align: center;
    padding-bottom: 5%;
}

#artHead, #aroundHead, #photoHead {
    margin-left: 15%;
    color: white;
}

#artDiv, #aroundDiv, #photoDiv {
    margin-right: 15%;
}

#rangevalue2, #rangevalue3 {
    color: white;
    margin-left: 0;
    font-size: 18px;
    width: 7%;
    margin-top: -3%;
}

#artPerDay, #photoTime {
    width: 30%;
    margin-left: 15%;
}

#artLBL, #photoLBL, #atLBL {
    color: white;
    float: left;
    margin-top: -3%;
    font-size: 18px;
}

#atLBL {
}

#photoTime {
    width: 45%;
}

#aroundHead {
    margin-top: 13%;
}

#photoHead {
    margin-top: 20%;
}



/*pref1 styles*/

.interest-box {
    padding: 3% 4%;
}

#page-content .ui-widget {
    text-align: center;
}

#tags, #selects {
    padding: 5%;
    width: 70%;
    float: left;
}

.searchContainer {
    padding-left: 11%;
    padding-top: 3%;
}

#addBTN, #addBTN2 {
    margin-top: 1%;
    margin-left: 4%;
}

.page-interests input {
    width: 60%;
}

.page-interests div {
    background-color: white;
    margin: 5% 9%;
    padding: 3%;
    text-align: center;
}

.searchContainer a i {
    padding: 25%;
}

.searchContainer a {
    background-color: dimgrey;
}

#interestHeader {
    color: white;
    text-align: center;
    padding-bottom: 5%;
}


.itemDelete {
    float: left;
    position: absolute;
    top: 0;
    padding-top: 4%;
}


/*article, allphotos, photo styles*/

#shareBTN {
    float: right;
    background: none;
    width: 10%;
    color: white;
    text-shadow: 2px 2px rgba(0,0,0,.48);
}

.ui-widget-overlay {
    background: #aaaaaa;
    opacity: 0.95;
    z-index: 999 !important;
}

.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    z-index: 1000 !important;
}

    #title, #aroundTitle {
    padding-bottom: 20px;
    float: left;
    width: 90%;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px rgba(0,0,0,.48);
}

.pref2Shadow {
    text-shadow: 2px 2px rgba(0,0,0,.48);
}

#logo {
    height: 60px;
    margin: 0 auto;
}

#closeBTN, #refreshBTN, #refreshLocationBTN1, #refreshLocationBTN2, #share {
    font-size: 30px;
}

#Photo, #ArticleImg, #aroundPhoto {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 90%;
    object-fit: contain;
    margin-bottom: 20px !important;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.25);
}



.thumb-layout img {
    width: 95px;
    position: absolute;
    max-height: 95px;
    object-fit: cover;
}

.thumb-layout a {
    height: 95px;
}

















/*Material Settings*/

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-container2 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

/*Homepage Slider*/

.home-slider h4 {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
    position: absolute;
    bottom: 0px;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) );
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.home-slider p {
    font-size: 13px;
    position: absolute;
    bottom: -15px;
    z-index: 999;
    color: #FFFFFF;
    opacity: 0.5;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    width: 100%;
}

.home-round-slider {
    padding-top: 10px;
}

    .home-round-slider img {
        border-radius: 200px;
        margin-left: auto;
        margin-right: auto;
    }

.home-img-1 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 25px;
    left: 50%;
    margin-left: -170px !important;
    opacity: 0.7;
}

.home-img-2 {
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
}

.home-img-3 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 25px;
    right: 50%;
    margin-right: -170px !important;
    opacity: 0.7;
}

.home-round-slider h3 {
    text-align: center;
    padding-top: 20px;
}

.home-round-slider em {
    display: block;
    font-style: normal;
    text-align: center;
}

.center-socials {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}

/*Footer*/

.footer {
    padding: 30px 0px 30px 0px;
}

.footer-dark {
    background-color: #0c1117;
}

.footer-light {
    background-color: #ecf0f1;
    border-top: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0;
}

.footer-dark .decoration {
    background-color: rgba(255,255,255,0.05);
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
}

.footer .footer-logo {
    background-image: url(../images/preload-logo.png);
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.copyright-text {
    margin-bottom: 0px;
    margin-top: -10px;
    margin-bottom: 0px;
}

.footer p {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer-socials {
    width: 255px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

    .footer-socials a {
        margin-left: 2px !important;
        margin-right: 2px !important;
    }

/*Header*/

.header-dark {
    background-color: #0c1117;
}

.header-light {
    background-color: #FFFFFF;
}

.header-transparent {
    background-color: rgba(0,0,0,0.7);
}

.header {
    position: fixed;
    left: 10px;
    right: 10px;
    top: 10px;
    height: 60px;
    z-index: 99;
}

.header-full {
    left: 0px !important;
    top: 0px !important;
    right: 0px !important;
}

.header-active {
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
}

.header-icon-1 {
    left: 0px;
}

.header-icon-2 {
    left: 50px;
}

.header-icon-3 {
    right: 50px;
}

.header-icon-4 {
    right: 0px;
}

.header-logo {
    position: absolute;
    background-image: url(../images/preload-logo.png);
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: 15px;
    left: 50%;
}

.header-dark a {
    color: #FFFFFF;
}

.header-light a {
    color: #1f1f1f;
}

.header-transparent a {
    color: #FFFFFF;
}

.header-icon .fa-plus {
    line-height: 60px !important;
    font-size: 12px;
}

.header-icon i {
    transition: all 250ms ease;
}

.header-icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    transition: all 250ms ease;
}

/*Footer menu*/

.footer-menu-background {
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: all;
    overflow: hidden !important;
    transition: all 250ms ease;
}

.footer-menu-tap-close {
    position: fixed;
    z-index: 9999999;
    top: 0px;
    left: 0px;
    right: 160px;
    bottom: 0px;
}

.footer-submenu-tap-close {
    position: fixed;
    z-index: 9999999;
    top: 0px;
    left: 0px;
    right: 160px;
    bottom: 0px;
}

.footer-menu-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 9999;
    overflow: hidden;
}

.footer-menu-scroll {
    position: absolute;
    bottom: 80px; /*Change if lck*/
    left: 0;
    height: 100%;
    right: -19px; /* Decrease this value for cross-browser compatibility */
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.footer-menu {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
}

    .footer-menu *, .footer-controls * {
        transition: all 250ms ease;
    }

.footer-menu-item {
    pointer-events: all;
    line-height: 60px;
    float: right;
    padding-right: 30px;
    padding-left: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.footer-menu .footer-menu-item:last-child, .footer-share .footer-menu-item:last-child {
    margin-bottom: 20px;
}

.footer-menu .footer-menu-item:first-child, .footer-share .footer-menu-item:first-child {
    margin-top: 40px;
    padding-top: 50px;
}

.footer-menu .fa-mobile {
    font-size: 24px !important;
}

.footer-menu-open .fa-mobile {
    font-size: 26px !important;
}

.footer-menu-item i {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    margin-left: 20px;
    float: right;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 1px 2px 2px rgba(0,0,0,0.10);
}

.footer-menu-item em {
    display: block;
    font-size: 14px;
    padding: 3px 14px !important;
    font-style: normal;
    font-weight: 500;
    position: absolute;
    right: 85px;
    line-height: 25px;
    border-radius: 10px;
    margin-top: 12px;
    /*background-color:#FFFFFF!important;
    box-shadow:0 1px 2px 2px rgba(0,0,0,0.10);
    -webkit-box-shadow:0 1px 2px 2px rgba(0,0,0,0.10);*/
}

.footer-controls {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100px;
    z-index: 9999;
}

    .footer-controls h3 {
        width: 150px;
        height: 100px;
        line-height: 100px;
        padding-left: 20px;
        color: #1f1f1f;
        font-size: 18px;
        font-weight: 800;
    }

    .footer-controls a {
        position: fixed;
        bottom: 75px;
        text-align: center;
    }

        .footer-controls a i {
            width: 50px;
            height: 50px;
            position: absolute;
            border-radius: 50px;
            line-height: 46px;
            text-align: center;
            margin-left: 20px;
        }

.footer-menu-item i {
    color: #FFFFFF !important;
    border: none !important;
}

.footer-controls {
    border-top: solid 1px rgba(0,0,0,0.1);
    margin-top: 20px
}

.light-footer-menu .footer-menu-item i {
    border: solid 2px rgba(0,0,0,0.1);
    color: #000000;
}

.light-footer-menu .footer-menu-item em, .light-footer-menu, .footer-menu-close em {
    color: #1f1f1f;
}

.light-footer-background {
    background-color: rgba(255,255,255,0.9);
}

.light-footer-menu .active-menu {
    color: #FFFFFF;
    opacity: 1;
}

    .light-footer-menu .active-menu em {
        color: #000000 !important;
        font-weight: 700 !important;
        font-size: 16px
    }

.dark-footer-menu .footer-menu-item i {
    border: solid 2px rgba(255,255,255,0.2);
    color: #FFFFFF;
}

.dark-footer-menu .footer-menu-item em {
    color: #FFFFFF;
    box-shadow: none !important;
    background-color: transparent !important;
    font-weight: 300;
}

.dark-footer-background {
    background-color: rgba(0,0,0,0.9);
}

.dark-footer-menu .active-menu {
    color: #FFFFFF;
    opacity: 1;
}

    .dark-footer-menu .active-menu em {
        color: #FFFFFF !important;
        font-weight: 700 !important;
        font-size: 15px
    }

.remove-menu {
    opacity: 0 !important;
    pointer-events: none !important;
    transition: all 250ms ease;
}

.remove-wrapper {
    display: none !important;
}

.footer-menu-open, .footer-menu-close {
    position: fixed;
    bottom: 14px;
    right: 27px;
    z-index: 999;
}

.footer-menu-close {
    z-index: 9999 !important;
}

    .footer-menu-open i, .footer-menu-close i {
        overflow: hidden !important;
        border-radius: 56px;
        line-height: 56px;
        height: 56px;
        width: 56px;
        text-align: center;
        font-size: 18px;
        color: #FFFFFF;
        transition: all 250ms ease;
        box-shadow: 0 3px 10px 1px rgba(0,0,0,.48);
    }


    .footer-menu-close em {
        font-weight: 500;
        top: 17px;
        position: absolute;
        right: 65px;
        text-align: right;
        display: block;
        font-size: 13px;
        padding: 3px 14px !important;
        font-style: normal;
        line-height: 25px;
        border-radius: 10px;
        /*background-color:#FFFFFF!important;
    box-shadow:0 1px 2px 2px rgba(0,0,0,0.10);
    -webkit-box-shadow:0 1px 2px 2px rgba(0,0,0,0.10);*/
    }


.sidebar-header-background {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSszs4sS9INobmviug5t5b0xpOWY_WXhdc_lkqMtJ_ljVQulp73ww);
    background-size: cover;
    height: 150px;
}

.sidebar-header h1 {
    color: #FFFFFF;
    font-size: 22px;
    padding-left: 85px;
    padding-top: 25px;
    font-weight: 800;
}

.sidebar-header h2 {
    font-size: 13px;
    color: #bfbfbf;
    font-weight: 400;
    margin-top: -13px;
    padding-left: 85px;
}

.sidebar-header-controls {
    border-top: solid 1px rgba(255,255,255,0.1);
    position: absolute;
    bottom: 1px;
    width: 250px;
    height: 50px;
}

.sidebar-logo-image {
    width: 50px;
    height: 50px;
    top: 25px;
    left: 20px;
    position: absolute;
}

.sidebar-header a {
    height: 50px;
    line-height: 50px;
    width: 20%;
    float: left;
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
}
